body {
    font-family: Arial, sans-serif;
    background-color: rgb(204, 202, 202);
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .home-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  h1 {
    text-align: center;
  }
  
  .home-button:hover {
    background-color: #45a049;
  }
  
  #map {
    width: 100%;
    height: 400px;
  }
  
  input,
  select,
  #searchBtn {
    width: fit-content;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  #searchBtn {
    border-radius: 10px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .result-container {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .result-container h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .result-container p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .star {
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
    align-self: flex-end;
  }
  
  .star:hover {
    color: gold;
  }
  
  .star.active {
    color: blue;
  }
  
  #searchBtn:hover {
    background-color: rgb(25, 175, 25);
  }
  
  .scroll-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ddd;
    color: black;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    font-size: 18px;
  }
  
  .scroll-top-button:hover {
    background-color: #ccc;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
  }
  
  .page-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #00c3ff;
    color: white;
    font-size: 14px;
    margin: 10px 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .page-button.active {
    background-color: #0056b3;
  }
  
  .page-button:hover {
    background-color: #0056b3;
  }